<div id="contactSubmitted" class="container">
	<h2 class="text-center whiteText">Contact Us <i class="fa fa-comment-o"></i></h2>
	<div class="col-md-12 text-center whiteText">
		<h3> Thank you. We'll be in contact with you shortly</h3>
	</div>
</div>

<!-- Footer -->
<div id="footer" class="container-fluid footerBottom">
	<div class="row">
		<div class="col-md-12 text-center">
        	<h4><i class="fa fa-copyright"></i> 2016 WorkWoo Inc.</h4>
        	<h5>Making people everywhere happier since 2015</h5>
		</div>
	</div>
</div>