<div id="forgotPasswordSubmitted" class="container">
	<h2 class="text-center whiteText"><i class="fa fa-frown-o"></i> Forgot Password</h2>
	<div class="col-md-12 text-left">
		<div class="inputContainer whiteText text-center">
			<h3> Check your email for a link to reset your password</h3>
			<h3><a class="whiteLink" href="#/login"><i class="fa fa-arrow-left"></i> Try Logging in again</a></h3>
		</div>
	</div>
</div>

<!-- Footer -->
<div id="footer" class="container-fluid footerBottom">
	<div class="row">
		<div class="col-md-12 text-center">
        	<h4><i class="fa fa-copyright"></i> 2016 WorkWoo Inc.</h4>
        	<h5>Making people everywhere happier since 2015</h5>
		</div>
	</div>
</div>