<div id="forgotPassword" class="container">
	<h2 class="text-center whiteText"><i class="fa fa-frown-o"></i> Forgot Password</h2>
	<form name="resetForm" ng-model="resetInfo" ng-submit="forgotPassword(resetInfo.email)" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate>
		<!-- Email -->
		<div class="col-md-12 text-left">
			<div class="inputContainer">
				<input ng-disabled="formSubmitting" placeholder="Your Email" name="email" ng-model="resetInfo.email" type="email" spellcheck="false" class="form-control defaultInput" value="" maxlength="255" tabindex="1" onkeyup="" required/>
			</div>
		</div>
		<!-- Submit button -->
		<div class="col-md-12 text-left">
			<div class="inputContainer">
				<button ng-disabled="resetForm.$invalid || formSubmitting" type="submit" class="btn btn-primary btn-lg btn-block">
					<span ng-if="!formSubmitting">RESET MY PASSWORD</span>
					<span ng-if="formSubmitting"><i class="fa fa-refresh fa-spin"></i> SUBMITTING</span>
				</button>
			</div>
		</div>
	</form>
</div>

<!-- Footer -->
<div id="footer" class="container-fluid footerBottom">
	<div class="row">
		<div class="col-md-12 text-center">
        	<h4><i class="fa fa-copyright"></i> 2016 WorkWoo Inc.</h4>
        	<h5>Making people everywhere happier since 2015</h5>
		</div>
	</div>
</div>