<!-- Intro -->
<div id="intro" class="container-fluid">
	<!-- Title -->
	<div class="row">
		<div class="col-md-12 text-center">
			<h1>The smart suggestion box</h1>
		</div>
	</div>

	<!-- Intro Image -->
	<div class="row">
		<!-- Animated feedback demo -->
	    <div class="col-md-12 text-center hideInMobile">
	    	<div id="demoContainer">
				<h3 class="text-center">Employees get a place to leave feedback</h3>
				<div id="leavingFeedbackFormContainer" class="blueShadow">
					<img src="../img/cursor.png" id="leavingFeedbackPointer"/>
					<img src="../img/clicker.png" id="leavingFeedbackClicker"/>
					<h3 class="text-center">Share Your Thoughts</h3>
					<h4 class="text-left"><img style="height:35px;width:35px;" src="../img/faces/sad.png"/> What are you concerned about?</h4>
					<div class="text-left" id="leavingFeedbackInput">
						<span id="liveText"></span>
						<span></span>
					</div>
					<div id="leavingFeedbackButton">SUBMIT</div>
				</div>
			</div>
			<!-- Animated Reporting Demo -->
			<div id="previewImage">
				<h3 class="text-center">You get smart insights into important issues</h3>
	    		<img class="blueShadow" src="../img/preview.png"/>
	    	</div>
    	</div>

    	<!-- Static demo (for mobile) -->
		<div class="col-md-1 hideInDesktop"></div><!-- Spacer -->
	    <div class="col-md-4 hideInDesktop text-center">
			<img class="img-responsive blueShadow" src="../img/feedback.png"/>
			<h3 class="text-center">Employees leave feedback</h3>
    	</div>
    	<div class="col-md-2 hideInDesktop text-center">
    		<i class="fa fa-chevron-down" style="font-size:30px;margin-bottom:25px;"></i>
    	</div>
    	<div class="col-md-4 hideInDesktop text-center">
			<img class="img-responsive blueShadow" src="../img/preview.png"/>
			<h3 class="text-center">You get smart insights into your company</h3>
    	</div>
    	<div class="col-md-1 hideInDesktop"></div><!-- Spacer -->
    </div>

    <!-- Signup Form -->
    <div class="row">
		<div class="col-md-12">
			<h2 class="text-center">It's that easy</h2>
		</div>
    </div>

    <!-- Signup Form -->
    <div class="row">
    	<div class="col-md-5"></div><!-- Spacer -->
		<!-- Submit button -->
		<div class="col-md-2">
			<a href="#/signup" tabindex="1" class="btn btn-block btn-primary">SIGN UP FOR FREE <i class="fa fa-arrow-right"></i></a>
		</div>
		<div class="col-md-5"></div><!-- Spacer -->
    </div>
</div>

<!-- How we're different -->
<div class="container-fluid" id="features">
	<div class="container">
		<!-- Title -->
		<div class="row slideFromBottom">
			<div class="col-md-12 text-center">
				<h2 class="sectionHeader">Features</h2>
			</div>
		</div>
		<!-- How it works 1 -->
		<div class="row slideFromBottom">
	      	<div class="col-md-6 text-left">
	         	<h3 class="featureText">
	         		Giving feedback can be hard.
	         	</h3>
	         	<h3 class="featureText">
	         		That's why we provide a private & secure form for your
	         		employees to freely voice their thoughts. It's hosted by us so they know it's confidential.
	         	</h3>
	         	<h3 class="featureText">
	         		The link to this form is private and only known by your company.
	         	</h3>
			</div>
			<div class="col-md-6 text-center">
				<img class="img-responsive grayShadow" src="../img/feedback.png"/>
			</div> 
		</div>

		<!-- Title -->
		<div class="row slideFromBottom">
			<div class="col-md-12 text-center">
				<h2 class="sectionHeader"><i class="fa fa-flask"></i> Serious Data Science</h2>
			</div>
		</div>

		<!-- How it works 2 -->
		<div class="row slideFromBottom">
			<div class="col-md-6 text-center">
				<img class="img-responsive grayShadow" src="../img/report.png"/>
			</div>
	      	<div class="col-md-6 text-left">
	         	<h3 class="featureText">
	         		You then get smart insights into potential issues using cutting edge machine learning
	         	</h3>
	         	<h3 class="featureText text-center">
	         		If it's red, address it...<br>
	         		...Green, keep being awesome!
	         	</h3>
	         	<h4 class="text-center">
	         		<i><b>No manual analysis required.</b></i>
	         	</h4>
			</div>
		</div>
	</div>
</div>


<!-- Existing 1 (Physical Box) -->
<div class="container-fluid" id="existing1">
	<div class="container">
		<!-- Title -->
		<div class="row slideFromBottom">
			<div class="col-md-12 text-center">
				<h2 class="sectionHeader">Existing tools don't work</h2>
			</div>
		</div>
		<div class="row slideFromBottom">
	      	<div class="col-md-9 text-left leftInMobile" style="margin-top:25px;">
	      		<p class="featureText">
	      			The physical box has been the go-to place for feedback.
	         	</p>
	         	<p class="featureText">
	         		However, many people are uncomfortable dropping feedback into it.
	         	</p>
	         	<p class="featureText">
	         		Reporting? good luck... You'll have to manually enter data and try to make sense of it.
	         	</p>
			</div>
			<div class="col-md-3 text-center">
				<img src="../img/physicalbox.png"/>
			</div>
		</div>
	</div>
</div>


<!-- Existing 2 (Surveys) -->
<div class="container-fluid" id="existing2">
	<div class="container">
		<div class="row slideFromBottom">
			<div class="col-md-12 text-center">
				<h2 class="sectionHeader">Web surveys aren't much better</h2>
			</div>
		</div>
		<div class="row slideFromBottom">
			<div class="col-md-3 text-center">
				<img src="../img/onlinesurvey.png"/>
			</div>
	      	<div class="col-md-9 text-left">
	         	<p class="featureText">
	         		Configuration & setup can be complicated.
	         	</p>
	         	<p class="featureText">
	         	    Like the physical box, there can be a perceived lack of privacy.
	         	</p>
	         	<p class="featureText">
	         	   Analysis is manual and not informative, with only counts & averages of the results.
	         	</p>
			</div>
		</div>
	</div>
</div>


<!-- Existing 3 (Other online suggestion boxes) -->
<div class="container-fluid" id="existing3">
	<div class="container">
		<div class="row slideFromBottom">
			<div class="col-md-12 text-center">
				<h2 class="sectionHeader">Online solutions don't do much</h2>
			</div>
		</div>
		<div class="row slideFromBottom">
	    <div class="col-md-9 text-left">
	         	<p class="featureText">
	         		They have super basic functionality, acting as nothing more than an email inbox.
	         	</p>
	         	<p class="featureText">
	         		Understanding your feedback is difficult since you just get averages, medians and totals.
	         	</p>
			</div>
			<div class="col-md-3 text-center">
				<img src="../img/existing.png"/>
			</div>
		</div>
	</div>
</div>


<!-- Pricing -->
<div class="container-fluid" id="pricing">
	<div class="container">
		<!-- Pricing Intro -->
		<div class="row slideFromBottom">
			<div class="col-md-12 text-center">
				<h2 class="leftInMobile">Simple pricing</h2>
				<h3 class="leftInMobile">Every account starts with a 60 day free trial of our full-featured Plus plan - <i>no credit card required</i></h3>
				<h3 class="leftInMobile">After your trial ends, choose a plan that best fits your needs</h3>
			</div>
		</div>
		<!-- What's Included Row #1 -->
		<div class="row slideFromBottom">
			<div class="col-md-12 text-center">
				<h3>All plans include...</h3>
			</div>
		</div>

		<!-- What's Included Row #1 -->
		<div class="row text-left slideFromBottom">
			<div class="col-md-6">
				<h3 class="pricingIncludedItem">
					<div class="pricingIcon"><img src="../img/icons/draw.png"/></div>
					<span> Unlimited Messages</span>
				</h3>
			</div>
			<div class="col-md-6">
				<h3 class="pricingIncludedItem">
					<div class="pricingIcon"><img src="../img/icons/music.png"/></div>
					<span> Feedback Notifications</span>
				</h3>
			</div>
		</div>
		<!-- What's Included Row #2 -->
		<div class="row text-left slideFromBottom">
			<div class="col-md-6">
				<h3 class="pricingIncludedItem">
					<div class="pricingIcon"><img src="../img/icons/locked.png"/></div>
					<span> SSL Encryption</span>
				</h3>
			</div>
			<div class="col-md-6">
				<h3 class="pricingIncludedItem">
					<div class="pricingIcon"><img src="../img/icons/idea.png"/></div>
					<span> Intelligent Insights</span>
				</h3>
			</div>
		</div>

		<!-- What's Included Row #3 -->
		<div class="row text-left slideFromBottom">
			<div class="col-md-6">
				<h3 class="pricingIncludedItem">
					<div class="pricingIcon"><img src="../img/icons/users.png"/></div>
					<span> Privacy Guarantee</span>
				</h3>
			</div>
			<div class="col-md-6">
				<h3 class="pricingIncludedItem">
					<div class="pricingIcon"><img src="../img/icons/like.png"/></div>
					<span> 24/7 Support</span>
				</h3>
			</div>
		</div>

		<h2 class="text-center" style="margin-bottom:10px;margin-bottom:25px;">No limit on the number of people giving feedback</h2>

		<!-- Pricing breakdown -->
		<div class="row slideFromBottom">
			<div class="col-md-4">
				<div class="pricingContainer text-center">
					<h2 class="pricingHeader">Starter</h2>
					<h1 class="pricingPrice text-center"><span class="pricingPriceSign">$</span>9</h1>
					<div style="margin-bottom:25px;">Per Month</div>
					<p class="pricingContent"><i class="fa fa-check pricingCheckInside"></i> 1 Inbox</p>
					<p class="pricingContent"><i class="fa fa-check pricingCheckInside"></i> 1 Admin Account</p>
					<p class="pricingContent"><i class="fa fa-check pricingCheckInside"></i> Standard Form Style</p>
				</div>
			</div>
			<div class="col-md-4" style="background-color:#56B8DF;padding-bottom:15px;box-shadow:2px 2px 2px #1d7598">
				<div class="pricingContainer text-center" style="border-bottom:3px solid #56DF7D;">
					<h2 class="pricingHeader" style="border-bottom:3px solid #56DF7D;">Plus</h2>
					<h4 class="text-center pricingCheckInside" style="font-weight:600;">Most Popular</h4>
					<h1 class="pricingPrice text-center"><span class="pricingPriceSign">$</span>49</h1>
					<div style="margin-bottom:25px;">Per Month</div>
					<p class="pricingContent"><i class="fa fa-check pricingCheckInside"></i> 5 Inboxes</p>
					<p class="pricingContent"><i class="fa fa-check pricingCheckInside"></i> 10 Admin Accounts</p>
					<p class="pricingContent"><i class="fa fa-check pricingCheckInside"></i> Customized Forms</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="pricingContainer text-center">
					<h2 class="pricingHeader">Premium</h2>
					<h1 class="pricingPrice text-center"><span class="pricingPriceSign">$</span>99</h1>
					<div style="margin-bottom:25px;">Per Month</div>
					<p class="pricingContent"><i class="fa fa-check pricingCheckInside"></i> 10 Inboxes</p>
					<p class="pricingContent"><i class="fa fa-check pricingCheckInside"></i> 20 Admin Accounts</p>
					<p class="pricingContent"><i class="fa fa-check pricingCheckInside"></i> Customized Forms</p>
				</div>
			</div>
		</div>

	</div>
</div>


<!-- About us -->
<div class="container-fluid" id="about">
	<div class="container">
		<div class="row slideFromBottom">
			<div class="col-md-12 text-center">
				<h2 class="sectionHeader">About Us</h2>
				<h3 class="leftInMobile">Our mission is to make work life better for everyone by enabling honest communication</h3>
			</div>
		</div>
		<div class="row slideFromBottom">
	      	<div class="col-md-6 text-center">
	      		<h2>JESSE</h2>
	      		<img src="../img/jesse.png"/>
	      		<h3>CEO & Strategy</h3>
	      		<div>Enterprise software, defense, and Navy veteran</div>
				<a href="https://www.linkedin.com/in/jessewilliams3" class="fa-stack fa-lg" style="font-size:40px;">
					<i class="fa fa-circle fa-stack-2x" style="color: #e4e9eb;"></i>
					<i class="fa fa-linkedin-square fa-stack-1x" style="color: #0077b5;"></i>
				</a>
				<a href="https://twitter.com/jessewnet" class="fa-stack fa-lg" style="font-size:40px;">
					<i class="fa fa-circle fa-stack-2x" style="color: #e4e9eb;"></i>
					<i class="fa fa-twitter fa-stack-1x" style="color: #00aced;"></i>
				</a>
			</div>
	      	<div class="col-md-6 text-center">
	      		<h2>RYAN</h2>
	      		<img src="../img/ryan.png"/>
	      		<h3>CTO & Lead Engineer</h3>
	      		<div>Brooklyn native. Finance & security expert </div>
				<a href="https://www.linkedin.com/in/ryan-mangroo-2889311b" class="fa-stack fa-lg" style="font-size:40px;">
					<i class="fa fa-circle fa-stack-2x" style="color: #e4e9eb;"></i>
					<i class="fa fa-linkedin-square fa-stack-1x" style="color: #0077b5;"></i>
				</a>
				<a href="https://twitter.com/RNMangroo" class="fa-stack fa-lg" style="font-size:40px;">
					<i class="fa fa-circle fa-stack-2x" style="color: #e4e9eb;"></i>
					<i class="fa fa-twitter fa-stack-1x" style="color: #00aced;"></i>
				</a>
			</div>
		</div>
	</div>
</div>


<!-- Signup for free -->
<div id="signupBottom" class="container-fluid">
	<div class="row" style="margin-bottom:25px;">
		<div class="col-md-12 text-center">
			<h1 class="whiteText">Get started today</h1>
		</div>
	</div>
	<!-- Invite Form -->
    <div class="row">
    	<div class="col-md-4"></div><!-- Spacer -->
		<div class="col-md-4">
			<a href="#/signup" tabindex="1" class="btn btn-block btn-primary">SIGN UP FOR FREE <i class="fa fa-arrow-right"></i></a>
		</div>
		<div class="col-md-4"></div><!-- Spacer -->
    </div>
</div>

<!-- Footer -->
<div id="footer" class="container-fluid">
	<div class="row">
		<div class="col-md-12 text-center">
        	<h4><i class="fa fa-copyright"></i> 2016 WorkWoo Inc.</h4>
        	<h5>Making people everywhere happier since 2015</h5>
		</div>
	</div>
</div>

<!-- Email Subscribe Signup Modal -->
<div id="emailSubscribeModal" class="modal fade" role="dialog">
	<div class="modal-dialog" style="margin-top:50px;">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header text-center" style="border:none;">
				<span class="fa fa-times close modalClose" data-dismiss="modal"></span>
				<img style="max-height:40px;" src="../img/logo-white.png"/>
				<h2 style="text-transform:none;" class="text-center">Let's stay connected...</h2>
				<h4 style="text-transform:none;" class="text-left">
					<span>Signup for our mailing list to get product announcements, blog posts, special offers, and more!</span>
				</h4>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<form name="mailingListSignupForm" action="//workwoo.us14.list-manage.com/subscribe/post?u=afc91c5e5abad7f9137080656&amp;id=916aaef88e" ng-model="mailingSignupInfo" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post">
						<!-- First Name -->
						<div class="col-md-12 text-left">
							<div class="inputContainer">
								<input ng-disabled="mailingSignupSubmitting" type="text" name="NAME" spellcheck="false" placeholder="Your Name" ng-model="mailingSignupInfo.name" class="form-control defaultInput" maxlength="255" tabindex="1" required/>
								<span ng-if="mailingListSignupForm.name.$invalid && mailingListSignupForm.name.$touched" class="invalidFieldIndicator slideDown">
									<span class="arrowLeft"></span>
									<span>We need your name</span>
								</span>
							</div>
						</div>
						<!-- Email -->
						<div class="col-md-12 text-left">
							<div class="inputContainer">
								<input ng-disabled="mailingSignupSubmitting" type="email" name="EMAIL" spellcheck="false" placeholder="Your Email" autocomplete="off" ng-model="mailingSignupInfo.email" class="form-control defaultInput" maxlength="255" tabindex="2" required/>
								<span ng-if="mailingListSignupForm.email.$invalid && mailingListSignupForm.email.$touched" class="invalidFieldIndicator slideDown">
									<span class="arrowLeft"></span>
									<span>Invalid Email</span>
								</span>
							</div>
						</div>
						<!-- Submit button -->
						<div class="col-md-12 text-left">
							<div class="inputContainer">
								<button ng-disabled="mailingListSignupForm.$invalid || mailingSignupSubmitting" type="submit" id="signupButton" tabindex="3" class="btn btn-primary btn-lg btn-block">
									<span ng-if="!mailingSignupSubmitting">SIGN UP</span>
									<span ng-if="mailingSignupSubmitting"><i class="fa fa-refresh fa-spin"></i> SAVING...</span>
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>