<div id="resetPassword" class="container">
	<h2 class="text-center whiteText"><i class="fa fa-lock"></i> Reset Your Password</h2>
	<!-- Form -->
	<div class="col-md-6">
		<form name="resetForm" ng-model="resetInfo" ng-submit="resetPassword(resetInfo)" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate>
			<!-- New Password -->
			<div class="col-md-12 text-left">
				<div class="inputContainer">
					<input type="password" name="newPassword" ng-disabled="resetSubmitting" placeholder="New Password" ng-model="resetInfo.newPassword" class="form-control defaultInput" maxlength="255" tabindex="1" required/>
				</div>
			</div>
			<!-- Confirm New Password -->
			<div class="col-md-12 text-left">
				<div class="inputContainer">
					<input type="password" name="newPasswordConfirm" ng-disabled="resetSubmitting" placeholder="Confirm New Password" ng-model="resetInfo.newPasswordConfirm" class="form-control defaultInput" maxlength="255" tabindex="2" required/>
				</div>
			</div>
			<!-- Submit button -->
			<div class="col-md-12 text-left">
				<div class="inputContainer">
					<button id="submitButton" ng-disabled="resetForm.$invalid || resetSubmitting" type="submit" tabindex="3" class="btn btn-primary btn-lg btn-block">
						<span ng-if="!resetSubmitting">SUBMIT</span>
						<span ng-if="resetSubmitting"><i class="fa fa-refresh fa-spin"></i> SUBMITTING</span>
					</button>
				</div>
			</div>
			<!-- No Match Message -->
			<div ng-if="noMatch && !resetError" class="col-md-12 text-left fadeInOut">
				<div class="inputContainer text-center">
					<div class="alert alert-danger text-center">
						<div>Passwords don't match</div>
					</div>
				</div>
			</div>
			<!-- No Match Message -->
			<div ng-if="invalidPassword && !resetError" class="col-md-12 text-left fadeInOut">
				<div class="inputContainer text-center">
					<div class="alert alert-danger text-center">
						<div>Password must follow the rules <i class="fa fa-arrow-right"></i></div>
					</div>
				</div>
			</div>
			<!-- Login Fail Message -->
			<div ng-if="resetError" class="col-md-12 text-left fadeInOut">
				<div class="inputContainer text-center">
					<div class="alert alert-danger text-center whiteText">
						<div>Your password cannot be reset</div>
						<a class="whiteLink" href="#/contact">Contact support for help <i class="fa fa-comment-o"></i></a>
					</div>
				</div>
			</div>
		</form>
	</div>

	<!-- Password Rules -->
	<div class="col-md-6">
		<div class="passwordRulesContainer">
			<h3 class="text-center">Password Rules</h3>
			<p ng-if="!passwordRuleValid('upperCase')" class="passwordRuleItem"><i class="fa fa-times-circle passwordRuleInvalid"></i> One Upper case letter</p>
			<p ng-if="passwordRuleValid('upperCase')" class="passwordRuleItem"><i class="fa fa-check-circle passwordRuleValid"></i> One Upper case letter</p>

			<p ng-if="!passwordRuleValid('lowerCase')" class="passwordRuleItem"><i class="fa fa-times-circle passwordRuleInvalid"></i> One Lower case letter</p>
			<p ng-if="passwordRuleValid('lowerCase')" class="passwordRuleItem"><i class="fa fa-check-circle passwordRuleValid"></i> One Lower case letter</p>

			<p ng-if="!passwordRuleValid('number')" class="passwordRuleItem"><i class="fa fa-times-circle passwordRuleInvalid"></i> One Number</p>
			<p ng-if="passwordRuleValid('number')" class="passwordRuleItem"><i class="fa fa-check-circle passwordRuleValid"></i> One Number</p>

			<p ng-if="!passwordRuleValid('special')" class="passwordRuleItem"><i class="fa fa-times-circle passwordRuleInvalid"></i> One Special Character</p>
			<p ng-if="passwordRuleValid('special')" class="passwordRuleItem"><i class="fa fa-check-circle passwordRuleValid"></i> One Special Character</p>


			<p ng-if="!passwordRuleValid('minimum')" class="passwordRuleItem"><i class="fa fa-times-circle passwordRuleInvalid"></i> 8 characters minimum</p>
			<p ng-if="passwordRuleValid('minimum')" class="passwordRuleItem"><i class="fa fa-check-circle passwordRuleValid"></i> 8 characters minimum</p>			
		</div>
	</div>
</div>

<!-- Footer -->
<div id="footer" class="container-fluid footerBottom">
	<div class="row">
		<div class="col-md-12 text-center">
        	<h4><i class="fa fa-copyright"></i> 2016 WorkWoo Inc.</h4>
        	<h5>Making people everywhere happier since 2015</h5>
		</div>
	</div>
</div>