<div id="resetPasswordSubmitted" class="container">
	<h2 class="text-center whiteText"><i class="fa fa-lock"></i> Reset Your Password</h2>
	<div class="col-md-12 text-center whiteText">
		<h3> Your password has been reset.</h3>
		<h3><a class="whiteLink" href="#/login"><i class="fa fa-arrow-left"></i> Login again</a></h3>
	</div>
</div>

<!-- Footer -->
<div id="footer" class="container-fluid footerBottom">
	<div class="row">
		<div class="col-md-12 text-center">
        	<h4><i class="fa fa-copyright"></i> 2016 WorkWoo Inc.</h4>
        	<h5>Making people everywhere happier since 2015</h5>
		</div>
	</div>
</div>